# Mini Project

                                       
                                    Load Data Into Variable

In [103]:
import numpy as np 
import pandas as pd
df = pd.read_csv("weatherAUS.csv")
df[0:5]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,01-12-08,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,02-12-08,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,03-12-08,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,04-12-08,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,05-12-08,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

                                    Finding missing values

In [79]:
df.count().sort_values()

Sunshine          74377
Evaporation       81350
Cloud3pm          85099
Cloud9am          88536
Pressure9am      128179
Pressure3pm      128212
WindDir9am       132180
WindGustDir      132863
WindGustSpeed    132923
WindDir3pm       138415
Humidity3pm      138583
Temp3pm          139467
WindSpeed3pm     139563
Humidity9am      140419
RainToday        140787
Rainfall         140787
WindSpeed9am     140845
Temp9am          141289
MinTemp          141556
MaxTemp          141871
Date             142193
Location         142193
RISK_MM          142193
RainTomorrow     142193
dtype: int64

                                     Describtion of data

In [80]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,141556.000000,141871.000000,140787.000000,81350.000000,74377.000000,132923.000000,140845.000000,139563.000000,140419.000000,138583.000000,128179.000000,128212.000000,88536.000000,85099.000000,141289.000000,139467.000000,142193.000000
mean,12.186400,23.226784,2.349974,5.469824,7.624853,39.984292,14.001988,18.637576,68.843810,51.482606,1017.653758,1015.258204,4.437189,4.503167,16.987509,21.687235,2.360682
std,6.403283,7.117618,8.465173,4.188537,3.781525,13.588801,8.893337,8.803345,19.051293,20.797772,7.105476,7.036677,2.887016,2.720633,6.492838,6.937594,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-7.200000,-5.400000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.900000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.900000,1010.400000,1.000000,2.000000,12.300000,16.600000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.500000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.600000,1015.200000,5.000000,5.000000,16.700000,21.100000,0.000000
75%,16.800000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.400000,1020.000000,7.000000,7.000000,21.600000,26.400000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.000000,1039.600000,9.000000,9.000000,40.200000,46.700000,371.000000

                                    Filling the null values with Mean

In [81]:
df["MinTemp"].fillna((12.186400),inplace=True)
df["MaxTemp"].fillna((23.226784),inplace=True)
df["Rainfall"].fillna(2.349974,inplace=True)
df["Sunshine"].fillna(5.469824,inplace=True)
df["WindGustSpeed"].fillna(39.984292,inplace=True)
df["WindSpeed9am"].fillna(14.001988,inplace=True)
df["WindSpeed3pm"].fillna(18.637576,inplace=True)
df["Humidity9am"].fillna(68.843810,inplace=True)
df["Humidity3pm"].fillna(51.482606,inplace=True)
df["Pressure9am"].fillna(1017.653758,inplace=True)
df["Pressure3pm"].fillna(1015.258204,inplace=True)
df["Cloud9am"].fillna(4.437189,inplace=True)
df["Cloud3pm"].fillna(4.503167,inplace=True)
df["Temp9am"].fillna(16.987509,inplace=True)
df["Temp3pm"].fillna(21.687235,inplace=True)
df["RISK_MM"].fillna(2.360682,inplace=True)

df = df.fillna('0')
print(df.count().sort_values())
df.shape

Date             142193
RainToday        142193
Temp3pm          142193
Temp9am          142193
Cloud3pm         142193
Cloud9am         142193
Pressure3pm      142193
Pressure9am      142193
Humidity3pm      142193
Humidity9am      142193
WindSpeed3pm     142193
WindSpeed9am     142193
WindDir3pm       142193
WindDir9am       142193
WindGustSpeed    142193
WindGustDir      142193
Sunshine         142193
Evaporation      142193
Rainfall         142193
MaxTemp          142193
MinTemp          142193
Location         142193
RISK_MM          142193
RainTomorrow     142193
dtype: int64

(142193, 24)

                  Changing the categorical values into numbers for better preadiction

In [82]:
df['RainToday'].replace({'No': 0, 'Yes': 1},inplace = True)
df['RainTomorrow'].replace({'No': 0, 'Yes': 1},inplace = True)
df

categorical_columns = ['WindGustDir', 'WindDir3pm', 'WindDir9am']
df['WindGustDir'].replace({'0': 0, 'E': 1,'ENE':2,'ESE':3,'N':4,'NE':5,'NNE':6,'NNW':7,'NW':8,'S':9,'SE':10,'SSE':11,'SSW':12,'SW':13,'W':14,'WNW':15,'WSW':16},inplace = True)
df['WindDir3pm'].replace({'0': 0, 'E': 1,'ENE':2,'ESE':3,'N':4,'NE':5,'NNE':6,'NNW':7,'NW':8,'S':9,'SE':10,'SSE':11,'SSW':12,'SW':13,'W':14,'WNW':15,'WSW':16},inplace = True)
df['WindDir9am'].replace({'0': 0, 'E': 1,'ENE':2,'ESE':3,'N':4,'NE':5,'NNE':6,'NNW':7,'NW':8,'S':9,'SE':10,'SSE':11,'SSW':12,'SW':13,'W':14,'WNW':15,'WSW':16},inplace = True)

df.iloc[4:9]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
4,05-12-08,Albury,17.5,32.3,1.0,0,5.469824,14,41.0,2,...,33.0,1010.8,1006.0,7.000000,8.000000,17.8,29.7,0,0.2,0
5,06-12-08,Albury,14.6,29.7,0.2,0,5.469824,15,56.0,14,...,23.0,1009.2,1005.4,4.437189,4.503167,20.6,28.9,0,0.0,0
6,07-12-08,Albury,14.3,25.0,0.0,0,5.469824,14,50.0,13,...,19.0,1009.6,1008.2,1.000000,4.503167,18.1,24.6,0,0.0,0
7,08-12-08,Albury,7.7,26.7,0.0,0,5.469824,14,35.0,11,...,19.0,1013.4,1010.1,4.437189,4.503167,16.3,25.5,0,0.0,0
8,09-12-08,Albury,9.7,31.9,0.0,0,5.469824,7,80.0,10,...,9.0,1008.9,1003.6,4.437189,4.503167,18.3,30.2,0,1.4,1

In [83]:
del df['Location']
del df['Date']
del df['RISK_MM']

                                     Data preprocessing using MinMax Scaler

In [84]:

from sklearn import preprocessing
scaler = preprocessing.MinMaxScaler()
scaler.fit(df)
df = pd.DataFrame(scaler.transform(df), index=df.index, columns=df.columns)
df.iloc[4:10]

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
4,0.613208,0.701323,0.002695,0.0,0.377229,0.8750,0.271318,0.1250,0.5000,0.053846,...,0.82,0.33,0.500826,0.4624,0.777778,0.888889,0.527426,0.673704,0.0,0.0
5,0.544811,0.652174,0.000539,0.0,0.377229,0.9375,0.387597,0.8750,0.8750,0.146154,...,0.55,0.23,0.474380,0.4528,0.493021,0.500352,0.586498,0.658349,0.0,0.0
6,0.537736,0.563327,0.000000,0.0,0.377229,0.8750,0.341085,0.8125,0.8750,0.153846,...,0.49,0.19,0.480992,0.4976,0.111111,0.500352,0.533755,0.575816,0.0,0.0
7,0.382075,0.595463,0.000000,0.0,0.377229,0.8750,0.224806,0.6875,0.8750,0.046154,...,0.48,0.19,0.543802,0.5280,0.493021,0.500352,0.495781,0.593090,0.0,0.0
8,0.429245,0.693762,0.000000,0.0,0.377229,0.4375,0.573643,0.6250,0.5000,0.053846,...,0.42,0.09,0.469421,0.4240,0.493021,0.500352,0.537975,0.683301,0.0,1.0
9,0.509434,0.659735,0.003774,0.0,0.377229,0.8750,0.170543,0.5625,0.6875,0.115385,...,0.58,0.27,0.438017,0.4576,0.493021,0.500352,0.575949,0.644914,1.0,0.0

                                    finding best feature, using chi-squre

In [85]:
from sklearn.feature_selection import SelectKBest, chi2
X = df.loc[:,df.columns!='RainTomorrow']
y = df[['RainTomorrow']]
selector = SelectKBest(chi2, k=3)
selector.fit(X, y)
X_new = selector.transform(X)
print(X.columns[selector.get_support(indices=True)])

Index(['Humidity3pm', 'Cloud3pm', 'RainToday'], dtype='object')

                                    Using Under Sampling for making imbalanced data into balanced

In [86]:
df['RainTomorrow'].value_counts()

0.0    110316
1.0     31877
Name: RainTomorrow, dtype: int64

In [87]:
nrn,rn=df["RainTomorrow"].value_counts()
print(rn,nrn)
no=df[df["RainTomorrow"] == 0.0]
no.count()
yes=df[df["RainTomorrow"] == 1.0]
yes.count()
data_sample=no.sample(rn)
data_sample.count()
df=pd.concat([data_sample,yes] , axis=0)
print(df.RainTomorrow.value_counts())

31877 110316
1.0    31877
0.0    31877
Name: RainTomorrow, dtype: int64

                                     selecting the featured columns

In [88]:
df = df[['Humidity3pm','RainToday','Cloud3pm','RainTomorrow']]
X = df[['Humidity3pm','RainToday','Cloud3pm']]
y = df[['RainTomorrow']]

   ##                                                                           Model Creation

In [89]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import time

t0=time.time()
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)
clf_logreg = LogisticRegression(random_state=0)
clf_logreg.fit(X_train,y_train)
y_pred = clf_logreg.predict(X_test)
score = accuracy_score(y_test,y_pred)
print('Accuracy :',score)
print('Time taken :' , time.time()-t0)

Accuracy : 0.7395068699416526
Time taken : 0.14665985107421875

C:\Users\jerin\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [90]:
#from sklearn.ensemble import RandomForestClassifier
#from sklearn.model_selection import train_test_split

#t0=time.time()
#X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)
#clf_rf = RandomForestClassifier(n_estimators=100, max_depth=4,random_state=0)
#clf_rf.fit(X_train,y_train)
#y_pred = clf_rf.predict(X_test)
#score = accuracy_score(y_test,y_pred)
#print('Accuracy :',score)
#print('Time taken :' , time.time()-t0)

##       Using the external Data Set

In [91]:
data=pd.read_csv("weatherAUS_test.csv")
data1=data
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,11-02-10,Richmond,19.5,33.2,0.0,5.0,NaN,W,33.0,NaN,...,45.0,1017.0,1012.3,NaN,NaN,23.9,31.9,No,0.0,No
1,12-02-10,Richmond,21.5,36.3,0.0,5.0,NaN,SSE,46.0,NaN,...,34.0,1008.8,1005.7,NaN,NaN,26.3,36.1,No,37.4,Yes
2,13-02-10,Richmond,21.4,25.4,37.4,NaN,NaN,W,19.0,WSW,...,77.0,1013.0,1010.0,NaN,NaN,21.8,25.1,Yes,30.8,Yes
3,14-02-10,Richmond,21.5,28.4,30.8,NaN,NaN,S,39.0,NaN,...,80.0,1007.2,1003.7,NaN,NaN,23.3,26.1,Yes,20.4,Yes
4,16-02-10,Richmond,18.4,27.1,NaN,5.1,NaN,SSW,37.0,NaN,...,53.0,1012.3,1013.2,NaN,NaN,24.0,26.1,NaN,0.0,No

In [92]:
data.count().sort_values()

Sunshine         2820
Cloud3pm         2852
Cloud9am         2872
Evaporation      4136
WindGustDir      4341
WindGustSpeed    4343
WindDir9am       4613
WindDir3pm       5262
WindSpeed9am     5326
RainToday        5333
Rainfall         5333
WindSpeed3pm     5335
Humidity9am      5340
Humidity3pm      5342
Pressure3pm      5343
Pressure9am      5344
Temp9am          5350
Temp3pm          5351
MinTemp          5366
MaxTemp          5373
Date             5381
Location         5381
RISK_MM          5381
RainTomorrow     5381
dtype: int64

In [93]:
data.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,5366.000000,5373.000000,5333.000000,4136.000000,2820.000000,4343.000000,5326.000000,5335.000000,5340.000000,5342.000000,5344.000000,5343.000000,2872.000000,2852.000000,5350.000000,5351.000000,5381.000000
mean,13.067480,23.545226,2.745284,5.125242,7.159433,37.609717,11.201277,17.152765,72.657865,52.191127,1018.619667,1015.958973,4.602368,4.477910,17.107869,22.147842,2.728303
std,5.613058,5.248723,8.669250,3.400122,3.825020,13.425275,8.121082,8.189114,16.525199,17.860020,7.046298,7.011776,2.831129,2.727647,5.105303,5.123676,8.639073
min,-4.800000,9.500000,0.000000,0.000000,0.000000,11.000000,0.000000,0.000000,19.000000,7.000000,986.700000,989.000000,0.000000,0.000000,0.800000,8.800000,0.000000
25%,9.200000,19.500000,0.000000,2.800000,4.200000,28.000000,4.500000,11.000000,62.000000,39.000000,1014.000000,1011.200000,1.000000,2.000000,13.300000,18.400000,0.000000
50%,13.500000,23.000000,0.000000,4.400000,8.200000,35.000000,11.000000,17.000000,74.000000,52.000000,1018.700000,1016.100000,5.000000,5.000000,17.500000,21.600000,0.000000
75%,17.600000,26.800000,0.800000,6.800000,10.200000,44.000000,17.000000,22.000000,85.000000,63.000000,1023.400000,1020.700000,7.000000,7.000000,21.000000,25.300000,0.800000
max,27.600000,47.000000,119.400000,33.800000,13.600000,106.000000,54.000000,54.000000,100.000000,100.000000,1039.100000,1036.800000,9.000000,8.000000,37.600000,45.900000,119.400000

In [94]:
data["MinTemp"].fillna((12.186400),inplace=True)
data["MaxTemp"].fillna((23.226784),inplace=True)
data["Rainfall"].fillna(2.349974,inplace=True)
data["Sunshine"].fillna(5.469824,inplace=True)
data["WindGustSpeed"].fillna(39.984292,inplace=True)
data["WindSpeed9am"].fillna(14.001988,inplace=True)
data["WindSpeed3pm"].fillna(18.637576,inplace=True)
data["Humidity9am"].fillna(68.843810,inplace=True)
data["Humidity3pm"].fillna(51.482606,inplace=True)
data["Pressure9am"].fillna(1017.653758,inplace=True)
data["Pressure3pm"].fillna(1015.258204,inplace=True)
data["Cloud9am"].fillna(4.437189,inplace=True)
data["Cloud3pm"].fillna(4.503167,inplace=True)
data["Temp9am"].fillna(16.987509,inplace=True)
data["Temp3pm"].fillna(21.687235,inplace=True)
data["RISK_MM"].fillna(2.360682,inplace=True)

data = data.fillna('0')
print(data.count().sort_values())

data.shape

Date             5381
RainToday        5381
Temp3pm          5381
Temp9am          5381
Cloud3pm         5381
Cloud9am         5381
Pressure3pm      5381
Pressure9am      5381
Humidity3pm      5381
Humidity9am      5381
WindSpeed3pm     5381
WindSpeed9am     5381
WindDir3pm       5381
WindDir9am       5381
WindGustSpeed    5381
WindGustDir      5381
Sunshine         5381
Evaporation      5381
Rainfall         5381
MaxTemp          5381
MinTemp          5381
Location         5381
RISK_MM          5381
RainTomorrow     5381
dtype: int64

(5381, 24)

                                    Changing the categorical columns into numbers

In [95]:
data['RainToday'].replace({'No': 0, 'Yes': 1},inplace = True)
data['RainTomorrow'].replace({'No': 0, 'Yes': 1},inplace = True)
data

categorical_columns = ['WindGustDir', 'WindDir3pm', 'WindDir9am']
data['WindGustDir'].replace({'0': 0, 'E': 1,'ENE':2,'ESE':3,'N':4,'NE':5,'NNE':6,'NNW':7,'NW':8,'S':9,'SE':10,'SSE':11,'SSW':12,'SW':13,'W':14,'WNW':15,'WSW':16},inplace = True)
data['WindDir3pm'].replace({'0': 0, 'E': 1,'ENE':2,'ESE':3,'N':4,'NE':5,'NNE':6,'NNW':7,'NW':8,'S':9,'SE':10,'SSE':11,'SSW':12,'SW':13,'W':14,'WNW':15,'WSW':16},inplace = True)
data['WindDir9am'].replace({'0': 0, 'E': 1,'ENE':2,'ESE':3,'N':4,'NE':5,'NNE':6,'NNW':7,'NW':8,'S':9,'SE':10,'SSE':11,'SSW':12,'SW':13,'W':14,'WNW':15,'WSW':16},inplace = True)
data.iloc[4:9]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
4,16-02-10,Richmond,18.4,27.1,2.349974,5.1,5.469824,12,37.0,0,...,53.0,1012.300000,1013.2,4.437189,4.503167,24.000000,26.1,0,0.0,0
5,17-02-10,Richmond,16.6,27.3,0.000000,4.1,5.469824,10,33.0,9,...,51.0,1017.000000,1015.1,4.437189,4.503167,21.200000,26.5,0,0.0,0
6,18-02-10,Richmond,16.2,26.1,0.000000,5,5.469824,10,41.0,12,...,42.0,1022.900000,1022.8,4.437189,4.503167,19.800000,25.1,0,0.0,0
7,20-02-10,Richmond,15.4,30.7,2.349974,0,5.469824,5,30.0,0,...,43.0,1017.653758,1017.1,4.437189,4.503167,16.987509,30.2,0,0.0,0
8,22-02-10,Richmond,18.9,35.1,2.349974,6.4,5.469824,14,33.0,0,...,33.0,1017.653758,1011.5,4.437189,4.503167,16.987509,34.8,0,0.0,0

In [96]:
data.count()

Date             5381
Location         5381
MinTemp          5381
MaxTemp          5381
Rainfall         5381
Evaporation      5381
Sunshine         5381
WindGustDir      5381
WindGustSpeed    5381
WindDir9am       5381
WindDir3pm       5381
WindSpeed9am     5381
WindSpeed3pm     5381
Humidity9am      5381
Humidity3pm      5381
Pressure9am      5381
Pressure3pm      5381
Cloud9am         5381
Cloud3pm         5381
Temp9am          5381
Temp3pm          5381
RainToday        5381
RISK_MM          5381
RainTomorrow     5381
dtype: int64

In [97]:
del data['Location']
del data['Date']
del data['RISK_MM']

                                    
                                      Data Preprocessing using minmax scalar of external data set

In [98]:

from sklearn import preprocessing
scaler = preprocessing.MinMaxScaler()
scaler.fit(data)
data = pd.DataFrame(scaler.transform(data), index=data.index, columns=data.columns)
data.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,0.750000,0.632000,0.000000,0.147929,0.402193,0.8750,0.231579,0.0,0.3750,0.000000,...,0.790123,0.408602,0.578244,0.487448,0.493021,0.562896,0.627717,0.622642,0.0,0.0
1,0.811728,0.714667,0.000000,0.147929,0.402193,0.6875,0.368421,0.0,1.0000,0.000000,...,0.716049,0.290323,0.421756,0.349372,0.493021,0.562896,0.692935,0.735849,0.0,1.0
2,0.808642,0.424000,0.313233,0.000000,0.402193,0.8750,0.084211,1.0,0.0000,0.203704,...,0.913580,0.752688,0.501908,0.439331,0.493021,0.562896,0.570652,0.439353,1.0,1.0
3,0.811728,0.504000,0.257956,0.000000,0.402193,0.5625,0.294737,0.0,0.0000,0.000000,...,0.938272,0.784946,0.391221,0.307531,0.493021,0.562896,0.611413,0.466307,1.0,1.0
4,0.716049,0.469333,0.019682,0.150888,0.402193,0.7500,0.273684,0.0,0.6875,0.259296,...,0.493827,0.494624,0.488550,0.506276,0.493021,0.562896,0.630435,0.466307,0.0,0.0

                                    Selecting the Features

In [99]:
x_test=data[['Humidity3pm','RainToday','Cloud3pm']]
x_test.count()

Humidity3pm    5381
RainToday      5381
Cloud3pm       5381
dtype: int64

                                    Predicting the rain Fall

In [100]:
y_pred = clf_logreg.predict(X_test)
#y_pre = clf_rf.predict(X_test)
#print('rfc:',y_pre)
print('predicted value :',y_pred)
data.shape
len(y_pred)

predicted value : [0. 0. 1. ... 0. 1. 0.]

15939

                                    Converting into dataFrame

In [101]:
t=data1[["Date","Location"]]
t=pd.DataFrame(t)

predect=pd.DataFrame(y_pred)
predect.rename(columns={0:"RainTomorrow"},inplace=True)
print(predect.count())
#output=t.join(predect)
y=output["RainTomorrow"]
output.head()
#y.count()

#data1['RainTomorrow'].replace({'No': 0.0, 'Yes': 1.0},inplace = True)
#orginal=data1["RainTomorrow"]
#sc = accuracy_score(orginal,y)
#print(sc)

RainTomorrow    15939
dtype: int64

       Date  Location  RainTomorrow
0  11-02-10  Richmond           1.0
1  12-02-10  Richmond           1.0
2  13-02-10  Richmond           0.0
3  14-02-10  Richmond           0.0
4  16-02-10  Richmond           1.0

                                    Storing the reslut into an external data set

In [102]:
output.to_csv(r'C:\Users\jerin\submission.csv', index=False)

#  END